* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);

    overflow-x: hidden;

    line-height: 1.5;
}

body::before {
    content: "";

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: 
        radial-gradient(
                        circle at 55% 10%,
                        rgba(45, 111, 255, 0.12),
                        transparent 30%
                        ),
        radial-gradient(
                        circle at 10% 70%,
                        rgba(0, 122, 204, 0.2),
                        transparent 30%
                        ),
        radial-gradient(
                        circle at 90% 40%,
                        rgba(0, 122, 204, 0.2),
                        transparent 25%
                        ),
        radial-gradient(
                        circle at 90% 120%,
                        rgba(0, 122, 204, 0.2),
                        transparent 30%
                        );
    
    pointer-events: none;

    z-index: -1;
}

a{
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

.container {
    width: min(calc(100% - var(--container-padding) * 2),
                    var(--container-width));

    margin: 0 auto;
}

.section {
    padding: 8px;

    border-top: 1px solid var(--color-border);
}

.section-label {
  margin-bottom: 8px;

  color: var(--color-primary);

  font-size: 13px;

  font-weight: 600;

  letter-spacing: 3px;

  text-transform: uppercase;
}

.section-title {
  color: var(--color-text);

  font-size: clamp(32px, 3vw, 44px);

  font-weight: 700;

  line-height: 1.15;
}

.section-link {
  display: inline-flex;

  align-items: center;

  gap: 8px;

  color: var(--color-primary);

  font-size: 15px;

  transition:
    color var(--transition),
    transform var(--transition);
}

.section-link:hover {
  color: var(--color-primary-light);

  transform: translateX(4px);
}

@media (max-width: 900px) {
  :root {
    --container-padding: 30px;
  }

  .section {
    padding: 65px 0;
  }
}

@media (max-width: 600px) {
  :root {
    --container-padding: 18px;
  }

  .section {
    padding: 50px 0;
  }

  .section-label {
    font-size: 11px;

    letter-spacing: 2px;
  }

  .section-title {
    font-size: 30px;
  }
}